name: Node.js CICD compile

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:

    runs-on: 
    - Agent-1
    - self-hosted
    - Linux
    - X64

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup nodejs
      uses: actions/setup-node@v4
      with:
        node-version: '23'

    - name: Frontend Compilation (Syntax Check)
      run: |
       cd client
       find . -name "*.js" -exec node --check {} +

    - name: Backend Compilation (Syntax Check)
      run: |
       cd api
       find . -name "*.js" -exec node --check {} +

    
